{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Tage</th>
      <th>Parkpreis</th>
    </tr>
  </thead>

  <tbody>
   <tr><td>1 Tag</td><td>27,- €</td>
   <tr><td>2 Tage</td><td>34,- €</td>
   <tr><td>3 Tage</td><td>36,- €</td>
   <tr><td>4 Tage</td><td>38,- €</td>
   <tr><td>5 Tage</td><td>39,- €</td>
   <tr><td>6 Tage</td><td>41,- €</td>
   <tr><td>7 Tage</td><td>43,- €</td>
   <tr><td>8 Tage</td><td>47,- €</td>
   <tr><td>9 Tage</td><td>50,- €</td>
   <tr><td>10 Tage</td><td>53,- €</td>
   <tr><td>11 Tage</td><td>56,- €</td>
   <tr><td>12 Tage</td><td>58,- €</td>
   <tr><td>13 Tage</td><td>62,- €</td>
   <tr><td>14 Tage</td><td>64,- €</td>
   <tr><td>15 Tage</td><td>66,- €</td>
   <tr><td>16 Tage</td><td>69,- €</td>
  </tbody>
</table>
      </div>
      <div class="col-6">
      </div>
        <table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Tage</th>
      <th>Parkpreis</th>
    </tr>
  </thead>

  <tbody>
  <td>17 Tage</td><td>71,- €</td></tr>
  <td>18 Tage</td><td>73,- €</td></tr>
  <td>19 Tage</td><td>75,- €</td></tr>
  <td>20 Tage</td><td>77,- €</td></tr>
  <td>21 Tage</td><td>79,- €</td></tr>
  <td>22 Tage</td><td>81,- €</td></tr>
  <td>23 Tage</td><td>82,- €</td></tr>
  <td>24 Tage</td><td>83,- €</td></tr>
  <td>25 Tage</td><td>84,- €</td></tr>
  <td>26 Tage</td><td>85,- €</td></tr>
  <td>27 Tage</td><td>88,- €</td></tr>
  <td>28 Tage</td><td>90,- €</td></tr>
  <td>29 Tage</td><td>92,- €</td></tr>
  <td>30 Tage</td><td>94,- €</td></tr>
  <td>31 Tage</td><td>96,- €</td></tr>
  <td>je Zusatz Tag</td><td>+3,- €</td></tr>
  </tbody>
</table>
          
          
          
          
          
          
    </div>
  </div>
                  
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}
